body {
  min-height: 100vh;
  background: linear-gradient(to top, #def7f2 0%, #338b93 100%);
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100; */
}
body a {
  color: #338b93;
}
body .container {
  background: white;
  max-width: 600px;
  margin: 100px auto 150px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header form {
  border-bottom: 1px solid rgb(249, 247, 254);
  padding-bottom: 30px;
}
header .current-date {
  font-size: 14px;
  color: rgba(39, 33, 66, 0.4);
  padding-top: 13px;
  margin-left: 8px;
}

header .search-form-button,
.search-form-input {
  margin-top: 5px;
  border: none;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 16px;
}
header .search-form-button {
  background: #def7f2;
  color: #338b93;
  font-weight: bold;
  transition: all 200ms ease-in-out;
}
header .search-form-button:hover {
  background: #338b93;
  color: white;
  cursor: pointer;
}
header .search-form-input {
  margin-right: 5px;
  width: 82%;
  background: #def7f2;
}

main {
  padding: 30px 0;
}
main .today {
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-align: left;
  justify-content: center;
  gap: 10px;
  padding: 0 40px;
}
main strong {
  color: #338b93;
}

main .current-city {
  font-size: 38px;
  line-height: 48px;
  margin: 0;
}
main .current-details {
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
  line-height: 24px;
}
main .current-temperature {
  display: flex;
}
main .current-temperature img {
  width: 88px;
  height: 88px;
}
main .current-temperature-number {
  font-size: 88px;
  line-height: 88px;
  font-weight: 700;
}
main .current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: 7px;
}
main .forecast {
  display: flex;
  justify-content: center;
}
main .forecast-day {
  text-align: center;
}
main .forecast-image img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}
main .forecast-temperatures {
  display: flex;
  justify-content: space-around;
  color: #338b93;
}
main .weather-forecast {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
footer {
  border-top: 1px solid rgb(249, 247, 254);
  padding-top: 30px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}
@media (max-width: 650px) {
  header {
    padding-bottom: 0;
  }
  header .search-form-input {
    max-width: 63%;
  }
  header .current-date {
    font-size: 11px;
  }
  main .today {
    display: grid;
    grid-template-columns: 1fr;

    text-align: center;
  }
  main .current-temperature {
    justify-content: center;
    padding: 15px;
  }
  main .forecast-image img {
    width: 50px;
    height: 50px;
  }
}
